<h1>Bookwork</h1>

<% @bookWorks.each do |bookwork|%>
  <p><%= bookwork.title %></p>
  <p><%= bookwork.subtitle %></p>
  <p><%= bookwork.body %></p>
  <%= image_tag bookwork.thumb_image unless bookwork.thumb_image.nil? %>
<% end %>
